*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.heading{
    background-image: linear-gradient(to left, #043c10db,#9d1f3c4f,#143b44);
}
.heading h1{
    text-align: center;
    text-transform: uppercase;
    font-family: emoji;
    font-weight: bolder;
    color: rgb(56, 53, 53);
    background-repeat: no-repeat;
    background-image: url(../image/page1.png);
    background-position: center;
    color: transparent;
    background-clip: text;
}
.index{
    background-color: #9f608e2e;
 
    
}
#img{
transition: 2s;
}
#img:hover{
    transform: skew(50deg) scale(0.70);
transition: 2s;

    
}